<h3 style="text-align: center"><b>Basic details</b></h3>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <style>
      table, td,th,tr {
          border: 1px solid black;
          width: 300px;
      }
      p{text-align: center}
  </style>
  <tbody>
  <tr>
    <th>Name:</th>
    <td><%= @one_employee.detail.name %></td>
  </tr>
  <tr>
    <th>Date of Birth:</th>
    <td><%= @one_employee.detail.dob %></td>
  </tr>
  <tr>
    <th>Phone number:</th>
    <td><%= @one_employee.detail.phone_number %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @one_employee.detail.email %></td>
  </tr>
  <tr>
    <th>Mother's Name:</th>
    <td><%= @one_employee.detail.mother_name %></td>
  </tr>
  <tr>
    <th>Father's Name:</th>
    <td><%= @one_employee.detail.father_name %></td>
  </tr>
  <tr>
    <th>Address:</th>
    <td><%= @one_employee.detail.address %></td>
  </tr>
  <tr>
    <th>Experience:</th>
    <td><%= @one_employee.detail.experience%></td>
  </tr>

  </tbody>
</table>

<p> <button><%= link_to 'Edit details', edit_detail_path(@one_employee.detail.id), class:"btn btn-secondary"%></button></p>
<p><h3 style="text-align: center"><b>Qualification details</b></h3></p>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <tbody>
  <tr>
    <th>Stream:</th>
    <td><%= @one_employee.qualification.stream %></td>
  <tr>
    <th>Year Of Passes Out:</th>
    <td><%= @one_employee.qualification.yop %></td>
  </tr>
  <tr>
    <th>Project:</th>
    <td><%= @one_employee.qualification.project %></td>
  </tr>
  <tr>
    <th>Aggregate</th>
    <td><%= @one_employee.qualification.aggregate %></td>
  </tr>
  </tbody>
</table>

<p><button><%= link_to 'Edit Qualification', edit_qualification_path(@one_employee.qualification.id), type:"button", class:"btn btn-primary"%><br/></button></p>
<p><h3 style="text-align: center"><b>Salary Details</b></h3></p>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <tbody>
  <tr>
    <th>Basic_pay:</th>
    <td><%= @one_employee.salary.basic_pay%></td>
  <tr>
    <th>HRA:</th>
    <td><%= @one_employee.salary.hra %></td>
  </tr>
  <tr>
    <th>Allowance:</th>
    <td><%= @one_employee.salary.allowance %></td>
  </tr>
  <tr>
    <th>Deduction:</th>
    <td><%= @one_employee.salary.deduction %></td>
  </tr>
  <tr>
    <th>Total salary:</th>
    <td><%= @one_employee.salary.basic_pay.to_i + @one_employee.salary.hra.to_i + @one_employee.salary.allowance.to_i - @one_employee.salary.deduction.to_i %></td>
  </tr>
  </tbody>
</table>

<p><h3 style="text-align: center"><b>Leave Details</b></h3></p>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <tbody>
  <tr>
    <th>Sick:</th>
    <td><%= @one_employee.leave.sick %></td>
  <tr>
    <th>privileged:</th>
    <td><%= @one_employee.leave.privileged %></td>
  </tr>
  <tr>
    <th>breavement:</th>
    <td><%= @one_employee.leave.breavement %></td>
  </tr>
  <tr>
    <th>study_leave</th>
    <td><%= @one_employee.leave.study_leave %></td>
  </tr>
  <tr>
    <th>time_off</th>
    <td><%= @one_employee.leave.time_off %></td>
  </tr>

  </tbody>
</table>
